/* Work Sans Regular */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Work Sans"), local("Work Sans Regular"),
    url("./fonts/WorkSans-Regular.woff2") format("woff2"),
    url("./fonts/WorkSans-Regular.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #515d81;
  font-family: 'Work Sans', sans-serif;
}

.page {
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 600px;
  margin: 25px;
}

.content > *:not(:last-child) {
  margin-bottom: 25px;
}

.header {
  display: flex;
  flex-flow: row;
}

.header .weather {
  margin-left: auto;
}

.search {
  position: relative;
  border-radius: 8px;
}

.search input {
  width: 100%;
  padding: 15px;
  border: unset;
  border-radius: 8px;
  outline: unset;
  font-family: 'Work Sans', sans-serif;
}

.search img {
  position: absolute;
  right: 10px;
  top: 25%;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.services a {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 287px;
  height: 120px;
  color: #000;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: unset;
}

.services a i {
  font-size: 50px;
  margin-bottom: 8px;
}

.services a:nth-child(even) {
  margin-left: 25px;
}

.services a:not(:first-child):not(:nth-child(2)) {
  margin-top: 25px;
}

.upOnHover {
  position: relative;
  top: 0;
  transition: top 100ms ease-in-out, box-shadow 200ms ease-in;
}

.upOnHover:hover {
  top: -3px;
  box-shadow: 2px 3px 10px #1f2842;
}
