.services {
  display: flex;
  flex-wrap: wrap;
}

.services a {
  display: flex;
  flex: 0 0 calc(50% - 13px);
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  padding: 20px;
  color: #000;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: unset;
}

.services a i,
.services a img {
  margin-bottom: 8px;
}

.services a i {
  font-size: 50px;
}

.services a img {
  height: 100%;
  width: auto;
}

.services a:nth-child(even) {
  margin-left: 25px;
}

.services a:not(:first-child):not(:nth-child(2)) {
  margin-top: 25px;
}
